DATABASE_URL=postgresql+psycopg://raizes:raizes@localhost:5432/raizes
DATABASE_REPLICA_URL=postgresql+psycopg://raizes:raizes@localhost:5433/raizes

# Cache
REDIS_URL=redis://localhost:6379/0
MENU_CACHE_TTL_SECONDS=120

# filas
RABBITMQ_URL=amqp://guest:guest@localhost:5672//
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# gateway de pagamento externo simulado
PAYMENT_GATEWAY=PIX
PAYMENT_WEBHOOK_SECRET=troque-este-segredo

# App
APP_ENV=development
JWT_SECRET=troque-este-segredo
